main {
  width: 100%;
  left: 0;
  margin-top: 8em;
  z-index: 4;
}

main #img-slider {
  height: 80vh;
  -webkit-perspective: 50px;
          perspective: 50px;
  width: 80%;
  display: inline-block;
  vertical-align: middle;
}

main #img-slider .img-slider-block {
  width: 100%;
  height: 100%;
  -webkit-transition: 1.2s all !important;
  transition: 1.2s all !important;
}

main #img-slider .img-slider-block .img-slider-image-wrapper {
  display: inline-block;
  height: 100%;
}

main #img-slider .img-slider-block .img-slider-image-wrapper .img-slider-image {
  height: 100%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

main #img-slider .img-slider-block .img-slider-block-text {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  padding: 6em 3em 3em 3em;
}

main #img-slider .img-slider-block .img-slider-block-text h1 {
  font-size: 5.4rem;
}

main #img-slider .img-slider-block .img-slider-block-text p {
  margin-top: 1em 0;
  font-size: 1.8rem;
}

main #img-slider .img-slider-block .img-slider-block-text button {
  background: #fff;
  color: transparent;
  padding: 1.1em 4.4em;
  background-size: 13em;
  background-position: center;
  border-radius: .4em;
  margin-top: 2em;
  border: 1px solid white;
  border-radius: 10px;
  background-repeat: no-repeat;
}

main #img-slider .img-slider-block .img-slider-block-text .img-slider-block-playstore {
  background-image: url("./../../img/download/google-play-badge.svg");
  margin-right: 2em;
}

main #img-slider .img-slider-block .img-slider-block-text .img-slider-block-appstore {
  background-image: url("./../../img/download/app-store-badge.svg");
}

main .changeSlide {
  border-radius: 4px;
  position: relative;
  background: transparent;
  font-size: 2em;
  -webkit-transition: .4s box-shadow -webkit-box-shadow -moz-box-shadow;
  transition: .4s box-shadow -webkit-box-shadow -moz-box-shadow;
  -webkit-transition: .08s;
  transition: .08s;
  width: 2em;
  color: #fff;
  margin: 0 calc(5% - 1.09em);
}

main .changeSlide::before {
  content: '';
  border-radius: 4px;
  position: absolute;
  height: 100%;
  width: 0;
  background: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  top: 0;
  mix-blend-mode: difference;
}

main .changeSlide:first-child::before {
  right: 0;
}

main .changeSlide:last-child::before {
  left: 0;
}

main .changeSlide:hover::before {
  mix-blend-mode: difference;
  width: 100%;
}

main .changeSlide:active {
  box-shadow: 0px 0px 14px 0px white;
  -webkit-box-shadow: 0px 0px 14px 0px white;
  -moz-box-shadow: 0px 0px 14px 0px white;
}

@media only screen and (max-width: 1460px) {
  .img-slider-block-text h1 {
    font-size: 3.8rem !important;
  }
  .img-slider-block-text p {
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 1250px) {
  .img-slider-block-text h1 {
    font-size: 3.4rem !important;
  }
  .img-slider-block-text p {
    font-size: 1.8rem !important;
  }
}

@media only screen and (max-width: 1190px) {
  .img-slider-block-text h1 {
    font-size: 3.2rem !important;
  }
  .img-slider-block-text p {
    font-size: 1.6rem !important;
  }
}

@media only screen and (max-width: 1080px) {
  .img-slider-block-text {
    display: block !important;
    padding: 1rem !important;
  }
  .img-slider-block-text h1 {
    font-size: 4.6rem !important;
  }
  .img-slider-block-text p {
    font-size: 2.2rem !important;
  }
  .img-slider-image-wrapper {
    width: 100%;
    height: auto !important;
  }
  .img-slider-image-wrapper .img-slider-image {
    width: 100% !important;
  }
}

@media only screen and (max-width: 800px) {
  .img-slider-block-text h1 {
    text-align: center;
  }
  .img-slider-block-text p {
    font-size: 1.8rem !important;
    text-align: justify;
  }
}

@media only screen and (min-width: 2800px) {
  .img-slider-block-text h1 {
    font-size: 6rem !important;
  }
  .img-slider-block-text p {
    font-size: 2.8rem !important;
  }
}

@media only screen and (min-width: 4000px) {
  .img-slider-block-text h1 {
    font-size: 8rem !important;
  }
  .img-slider-block-text p {
    font-size: 3.4rem !important;
  }
  .img-slider-block-text button {
    padding: 2.5em 7.4em !important;
    background-size: 20em !important;
    border: none !important;
  }
}
/*# sourceMappingURL=main.css.map */