main {
    width: 100%;
    left: 0;
    margin-top: 8em;
    z-index: 4;
    #img-slider {
        height: 80vh;
        perspective: 50px;
        width: 80%;
        display: inline-block;
        vertical-align: middle;
        .img-slider-block {
            width: 100%;
            height: 100%;
            transition: 1.2s all !important;
            .img-slider-image-wrapper {
                display: inline-block;
                height: 100%;
                .img-slider-image {
                    height: 100%;
                    transition: transform .2s;
                }
            }
            .img-slider-block-text {
                display: inline-block;
                vertical-align: top;
                position: absolute;
                padding: 6em 3em 3em 3em;
                h1 {
                    font-size: 5.4rem
                }
                p {
                    margin-top: 1em 0;
                    font-size: 1.8rem;
                }
                button {
                    background: #fff;
                    color: transparent;
                    padding: 1.1em 4.4em;
                    background-size: 13em;
                    background-position: center;
                    border-radius: .4em;
                    margin-top: 2em;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-repeat: no-repeat;
                }
                .img-slider-block-playstore {
                    background-image: url('./../../img/download/google-play-badge.svg');
                    margin-right: 2em;
                }
                .img-slider-block-appstore {
                    background-image: url('./../../img/download/app-store-badge.svg');
                }
            }
        }
    }
    .changeSlide {
        border-radius: 4px;
        position: relative;
        background: transparent;
        font-size: 2em;
        transition: .4s box-shadow -webkit-box-shadow -moz-box-shadow;
        transition: .08s;
        width: 2em;
        color: #fff;
        margin: 0 calc(5% - 1.09em);
        &::before {
            content: '';
            border-radius: 4px;
            position: absolute;
            height: 100%;
            width: 0;
            background: #fff;
            transition: .4s;
            top: 0;
            mix-blend-mode: difference;
        }
        &:first-child {
            &::before {
                right: 0;
            }
        }
        &:last-child {
            &::before {
                left: 0;
            }
        }
        &:hover {
            &::before {
                mix-blend-mode: difference;
                width: 100%;
            }
        }
        &:active {
            box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 1);
            -webkit-box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 1);
            -moz-box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 1);
        }
    }
}

@media only screen and (max-width: 1460px) {
    .img-slider-block-text {
        h1 {
            font-size: 3.8rem !important
        }
        p {
            font-size: 2rem !important
        }
    }
}

@media only screen and (max-width: 1250px) {
    .img-slider-block-text {
        h1 {
            font-size: 3.4rem !important
        }
        p {
            font-size: 1.8rem !important
        }
    }
}

@media only screen and (max-width: 1190px) {
    .img-slider-block-text {
        h1 {
            font-size: 3.2rem !important
        }
        p {
            font-size: 1.6rem !important
        }
    }
}

@media only screen and (max-width: 1080px) {
    .img-slider-block-text {
        display: block !important;
        padding: 1rem !important;
        h1 {
            font-size: 4.6rem !important
        }
        p {
            font-size: 2.2rem !important
        }
    }
    .img-slider-image-wrapper {
        width: 100%;
        height: auto !important;
        .img-slider-image {
            width: 100% !important;
        }
    }
}

@media only screen and (max-width: 800px) {
    .img-slider-block-text {
        h1 {
            text-align: center;
        }
        p {
            font-size: 1.8rem !important;
            text-align: justify;
        }
    }
}

@media only screen and (min-width: 2800px) {
    .img-slider-block-text {
        h1 {
            font-size: 6rem !important;
        }
        p {
            font-size: 2.8rem !important;
        }
    }
}

@media only screen and (min-width: 4000px) {
    .img-slider-block-text {
        h1 {
            font-size: 8rem !important;
        }
        p {
            font-size: 3.4rem !important;
        }
        button {
            padding: 2.5em 7.4em !important;
            background-size: 20em !important;
            border: none !important;
        }
    }
}