.dl-cursor {
    background: #fff;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: fixed;
    left: 0;
    top: 0;
    user-select: none;
    pointer-events: none;
    transform: translate(50%, 50%);
    visibility: hidden;
    transition: width height, 4s !important;
    z-index: 10000
}

.dl-fill {
    display: block;
    width: 38px;
    height: 38px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: fixed;
    transition: box-shadow .8s;
    left: 0;
    top: 0;
    user-select: none;
    pointer-events: none;
    transform: translate(50%, 50%);
    transition: .15s ease;
    visibility: hidden;
    z-index: 10000;
    &::before {
        background-color: rgba(255, 255, 255, 0.5);
        display: block;
        border-radius: 50%;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease
    }
}

.dl-fill.cursor-grow {
    border: 0 solid transparent
}

.dl-fill.cursor-grow:before {
    visibility: visible;
    opacity: 1;
    transform: scale(1.4);
    transition: all .3s ease
}