.dl-cursor,
.dl-fill,
.dl-fill::before {
    position: absolute;
    user-select: none;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    left: 0;
    z-index: 10000;
    top: 0;
    border-radius: 50%;
}

.dl-cursor {
    background: #fff;
    width: 6px;
    height: 6px;
    transition: width height, 4s !important;
}

.dl-fill,
.dl-fill::before {
    display: block;
}

.dl-fill {
    width: 38px;
    height: 38px;
    border: 1px solid #fff;
    transition: box-shadow .8s;
    transition: .15s ease;
    &::before {
        content: '';
        background: #ffffff80;
        opacity: 0;
        width: 100%;
        height: 100%;
        transition: .3s ease
    }
}

.dl-fill.cursor-grow {
    border: 0 solid transparent
}

.dl-fill.cursor-grow:before {
    visibility: visible;
    opacity: 1;
    transform: scale(1.4);
    transition: .3s ease
}